#root {
  max-width: 100vw;
  overflow: hidden;

  /* text-align: center; */
}
:root {
  --main-white: #ffffff;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-black: black;
  --main-purple: #cb6be6;
}
.OtherTheme {
  --main-white: #f4df4eff;
  --main-red: #0898eb;
  --main-blue: #45567d;
  --main-gray: #030303;
  --main-black: rgb(255, 255, 255);
  --main-purple: #ffffff;
}
